.tasks {
  &__title {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
    color: #64c4ed;
    padding-bottom: 20px;
    border-bottom: 1px solid #f2f2f2;

    input {
      border: none;
      font-family: Montserrat;
      font-weight: bold;
      font-size: 24px;
      line-height: 39px;
      color: #64c4ed;
    }

    img {
      margin-left: 20px;
      opacity: 0.1;
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  &__items {
    h3 {
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: Montserrat;
      padding: 100px;
      font-size: 32px;
      color: #f3f3f3;
    }

    label {
      margin-top: 30px;
      display: flex;
      align-items: center;

      input[type="text"] {
        font-size: 16px;
        margin: 0 15px;
        box-sizing: border-box;
        width: 100%;
        border: 1px solid transparent;
        &:focus {
          border: 1px solid #f3f3f3;
        }
      }
      img {
        margin-left: auto;
        opacity: 0;
      }
      &:hover {
        img {
          opacity: 0.5;
        }
      }
      input[type="checkbox"] {
        display: none;
      }
      span {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid #e8e8e8;
        border-radius: 50%;
        box-sizing: border-box;
        min-width: 25px;
        min-height: 25px;
        cursor: pointer;

        svg {
          opacity: 0;
        }
        &:hover {
          background-color: #f3f3f3;
          svg {
            opacity: 0.5;
          }
        }
      }

      input:checked + span {
        background-color: #4dd599;
        border-color: #4dd599;
        svg {
          opacity: 1;
          path {
            stroke: white;
          }
        }
      }

      .removeBtn{
        cursor: pointer;
        &:hover{
          opacity: 1;
        }
      }
    }
  }

  &__addNewItem {
    padding: 40px 8px;

    input {
      margin-bottom: 10px;
    }
    .cancel {
      background-color: #f4f4f4;
      color: black;
      margin-left: 20px;

      &:hover {
        background-color: darken(#f4f4f4, 8%);
        &:active {
          background-color: darken(#f4f4f4, 10%);
        }
      }
    }
    .newItem-button {
      display: flex;
      opacity: 0.5;
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }

      p {
        padding-left: 22px;
      }
    }
  }
}
